.en-container {
  font-family: Helvetica, sans-serif;
  min-width: 200px;
  position: fixed;
  width: 20%;
}
.en-top {
  top: 5px;
}
.en-bottom {
  bottom: 5px;
}
.en-right {
  right: 10px;
}
.en-left {
  left: 10px;
}
.en-center {
  right: 50%;
  transform: translateX(50%);
}
.en-container > .en-element {
  animation-duration: 1s;
  border-radius: 2px;
  font-size: 13px;
  margin: 5px 0;
  min-height: 1em;
  overflow: hidden;
  padding: 10px 15px;
  position: relative;
  transition: opacity 400ms;
  word-wrap: break-word;
}
.en-element.en-pulse {
  animation-name: en-pulse;
}
.en-element.en-shake {
  animation-name: en-shake;
}
.en-element.en-slide-up {
  animation-name: en-slide-up;
}
.en-element.en-slide-down {
  animation-name: en-slide-down;
}
.en-element.en-slide-left {
  animation-name: en-slide-left;
}
.en-element.en-slide-right {
  animation-name: en-slide-right;
}
.en-element > span {
  color: #373737;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 15px;
  margin: -2px 5px;
}
.en-element > span:hover {
  color: #f2f2f2;
}
.en-white {
  background: rgba(248, 248, 248, 0.95);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.95);
}
.en-gray {
  background: rgba(120, 120, 120, 0.95);
  box-shadow: inset 0 0 0 1px rgba(115, 115, 115, 0.95);
}
.en-red {
  background: rgba(235, 60, 60, 0.95);
  box-shadow: inset 0 0 0 1px rgba(235, 52, 52, 0.95);
}
.en-yellow {
  background: rgba(232, 205, 80, 0.95);
  box-shadow: inset 0 0 0 1px rgba(225, 198, 70, 0.95);
}
.en-green {
  background: rgba(90, 160, 75, 0.95);
  box-shadow: inset 0 0 0 1px rgba(78, 150, 62, 0.95);
}
.en-blue {
  background: rgba(25, 90, 140, 0.95);
  box-shadow: inset 0 0 0 1px rgba(20, 85, 135, 0.95);
}
.en-purple {
  background: rgba(145, 90, 180, 0.95);
  box-shadow: inset 0 0 0 1px rgba(140, 85, 175, 0.95);
}
.en-black {
  background: rgba(4, 4, 4, 0.95);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.95);
  color: #ffffff;
}

@keyframes en-pulse {
  0% {
    transform: scale(0.8);
  }
  30% {
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
}
@keyframes en-shake {
  20% {
    transform: rotate(2deg) translateX(1%);
  }
  30% {
    transform: rotate(-2deg) translateX(-1%);
  }
  40% {
    transform: rotate(2deg) translateX(1%);
  }
  50% {
    transform: rotate(-2deg) translateX(-1%);
  }
  60% {
    transform: rotate(2deg) translateX(1%);
  }
}
@keyframes en-slide-down {
  0% {
    transform: translateY(-100%);
  }
  30% {
    transform: translateY(10%);
  }
  50% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes en-slide-up {
  0% {
    transform: translateY(100%);
  }
  30% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes en-slide-left {
  0% {
    transform: translateX(100%);
  }
  30% {
    transform: translateX(-10%);
  }
  50% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes en-slide-right {
  0% {
    transform: translateX(-100%);
  }
  30% {
    transform: translateX(10%);
  }
  50% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0%);
  }
}
